.small-icon{
 
    width: 15px;
    height: 15px;
  
 }
  
 .form-signin{
   
    max-width: 330px;
    margin-top: 10%;
    background-color: #f8f9fae6;
  
 }
  
 .signin-body{
  
    background-image: url("imgs/bg-docs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  
 }
  
 .index-body{
  
    background-image: url("imgs/bg-index.jpg");
    background-size: cover;
 }
  
 .content {
  
    display: flex;
    flex-direction: column;
    width: 80%;
    color: white;
    margin: auto;
    background-color: #4f4f4f;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
 }
  
 .post-text {
  
    padding: 5px 10px;
 }
  
 .description {
  
    padding-top: 30px;
    padding-bottom: 20px;
 }
  
 .tags {
  
    display: flex;
    /*border: 1px solid red;*/
    margin-top: 50px;
 }
  
 .tag {
   
    /*border: 1px solid black;*/
    border-radius: 15px;
    padding: 3px 13px;
    margin: 0 12px;
    color: #0775ce;
    background-color: #fffffa;      
 }
  
.novo-plano {

   display: flex;
   flex-direction: column;
   margin: auto;
   margin-top: 100px;
}
 
textarea {

   resize: none;
}

.botao-enviar {

   width: 50%;
   margin: 40px auto;
}
