.small-icon{

    width: 15px;
    height: 15px;

}

.form-signin{
    
    max-width: 330px;
    margin-top: 10%;
    background-color: #f8f9fae6;

}

.signin-body{

    background-image: url("imgs/bg-docs.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.index-body{

    background-image: url("imgs/bg-index.jpg");
    background-size: cover;
}

.content {

    display: flex;
    flex-direction: column;
    width: 70%;
    color: white;
    margin: auto;
    background-color: #4f4f4f;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 3px;
}

.post-content {

    padding: 5px 10px;
}

.description {

    padding-bottom: 50px;
}